
.testata{
    background-color: #E579E6;
    margin: 1% 10%;
    height: 100px;
}

.container{
    background-color: #E1D67A;
    margin: 1% 10%;
    height: 500px;
}

.shelf{
    background-color: #0186FE;
    margin: 1% 10%;
    height: 100%;
    width: 80%;
}

.shelf div{
    background-color: #ABCFE7;
}

.minihead{
    height: 100px;
}

.shelf::after{
    content: "";
    clear:both;
    display: table;
}

.leftmain, .rightmain ,.minimain{
    float: left;
    width: 20%;
    height: 570px;
    margin: 1% 0 1% 0;
}

.minimain{
    margin-left: 1%;
    margin-right: 1%;
    width: 58%;
}

footer{
    background-color: #8801FE;
    height: 50px;
    margin: 1% 10%;
}
